.container {
  max-width: 1100px;

  margin: 0;
  padding: 0.4rem 0;

  display: flex;
}

.ranked {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;

  background: var(--white);

  margin-right: 0.5rem;
  border-radius: 5px 0px 0px 5px;
}

.ranked p {
  color: var(--text);
  font-weight: 500;
  font-size: 2rem;
  line-height: 29px;
}

.profileContainer {
  width: 68%;
}

.dataContainer {
  display: flex;
  background: var(--white);
  border-radius: 5px 0px 0px 5px;
  padding: 1rem 1rem;
  width: 100%;
}

.data {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.data p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;

  color: var(--blue);
}

.data p span {
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;

  color: var(--text);
}

@media (max-width: 1023px) {
  .ranked {
    width: 30px;
    height: 80px;
  }

  .ranked p {
    font-size: 1.2rem;
  }

  .dataContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
  }

  .profileContainer {
    width: 60%;
  }

  .data {
    justify-content: space-around;
  }

  .data p {
    display: flex;
    font-size: 0.8rem;
  }

  .data p span {
    margin-left: 0.2rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  .data p.challengesCompleted {
    visibility: hidden;
    display: none;
  }

  .profileContainer {
    width: 70%;
  }
}
