.sideMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-image: linear-gradient(to bottom, var(--white), var(--background));

  width: 90px;
  height: 100vh;
}

.sideMenu > div:first-child {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 15%;
}

.sideMenu > div:first-child img {
  height: 42px;
  width: 48px;
  align-items: center;
}

.sideMenu > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.sideMenu > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.sideMenu > div button {
  color: var(--gray-line);
  padding: 1rem;

  background: none;
  text-decoration: none;
  outline: none;
  border: 0;
}

.sideMenu div.logOut svg {
  color: var(--text);
}

.sideMenu div.logOut svg:hover {
  color: var(--red);
}

@media (max-width: 768px) {
  .sideMenu {
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;

    position: fixed;
  }

  .sideMenu > div {
    display: flex;
    flex-direction: row;
  }

  .sideMenu > div:first-child img {
    height: 30px;
    width: 30px;
    align-items: center;
  }

  .sideMenu > div button svg {
    width: 30px;
  }
}
